.main-nav {
  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(0, 0, 0);
  overflow: hidden;

  font-size: $menu-heading-size;
  line-height: $menu-line-height;
  font-weight: 100;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;

  z-index: 0;
  opacity: 0;
  visibility: hidden;

  &__logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }

  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  &__list {
    @include list-killer;

    text-align: center;
  }

  &__item {
    position: relative;
    transition: all 0.5s ease-out;
  }

  &__item:first-child {
    transform: translateY(100px);
  }

  &__item:nth-child(2) {
    transform: translateY(150px);
  }

  &__item:nth-child(3) {
    transform: translateY(200px);
  }

  &__item:nth-child(4) {
    transform: translateY(250px);
  }

  &__item:nth-child(5) {
    transform: translateY(275px);
  }

  &__link {
    color: hsla(0, 0%, 100%, 0.6);
  }

  &__link::before,
  &__link::after {
    content: '';
    width: 0;
    height: 1px;

    position: absolute;
    top: 50%;

    background: #5ec7eb;
    transition: all 100ms ease-out;
  }

  &__link::before {
    left: 100%;
  }

  &__link::after {
    right: 100%;
  }

  &__link:hover::before,
  &__link:hover::after {
    width: 50px;
  }

  &__link:hover::before{
    margin-left: 20px;
  }

  &__link:hover::after{
    margin-right: 20px;
  }

  &__link--active,
  &__link--active:hover {
    color: hsla(0, 0%, 100%, 1);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    font-size: $menu-heading-md-size;
    line-height: $menu-line-md-height;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    top: 50px;
    left: 50px;
  }
}
