.content__container {
  width: 95%;
  max-width: 700px;
  min-width: 300px;

  margin: 0 auto;
  padding: 40px 3px;
  padding-bottom: 80px;

  box-sizing: border-box;
  transition: all 505ms linear 0s;
}

@media (min-width: $tablet-width) {
  .content__container {
    max-width: 900px;
    padding: 50px 20px;
  }

  .content__container--review {
    padding-bottom: 100px;
  }
}
